<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dimension.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dimension.description %>
</p>

<p>
  <strong>Id task:</strong>
  <%= @dimension.id_task %>
</p>

<%= link_to 'Edit', edit_dimension_path(@dimension) %> |
<%= link_to 'Back', dimensions_path %>
