<!DOCTYPE html>
<html>
<head>
  <title>Productiva65</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'New Dimension', new_dimension_path %>
<%= link_to "tareas", new_task_path %>
<%= link_to "Graficos", chart_index_path %>
<%= yield %>

</body>
</html>
